<?xml version="1.0"?>
  
<configuration>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>

    <connectionStrings>
      <add name="DataPanelConnectionString" connectionString="server=JEFF-Alienware\SQLEXPRESS_2008;database=DataPanel_V2;uid=sa;pwd=123456;"/>
    </connectionStrings>
  
    <system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="100000000"/>
        </webServices>
      </scripting>
    </system.web.extensions>
  
</configuration>